/* Login Page CSS */
.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #06060c;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.orb1,
.orb2 {
    position: absolute;
    filter: blur(100px);
    border-radius: 50%;
    opacity: 0.4;
    animation: float 20s infinite ease-in-out;
}

.orb1 {
    width: 600px;
    height: 600px;
    background: #40e0d0;
    top: -100px;
    left: -100px;
}

.orb2 {
    width: 500px;
    height: 500px;
    background: #ff69b4;
    bottom: -100px;
    right: -100px;
    animation-delay: -10s;
}

.content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, 50px);
    }
}